<nav class="navbar-inferior">
    <div class="navbar-content">
  
      <div class="dropdown">
        <button class="dropdown-toggle">
          <svg class="icon-hamburguesa" width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="0.364777" width="13.2362" height="1.53379" fill="white"/>
            <rect y="5.73294" width="13.2362" height="1.53379" fill="white"/>
            <rect y="11.1014" width="13.2362" height="1.53379" fill="white"/>
          </svg>
          <span class="text-todo">Todo</span>
        </button>
      </div>
  
      <a href="#" class="nav-item">Inicio</a>
      <a href="#" class="nav-item">Ofertas del Día</a>
      <a href="#" class="nav-item">Servicio al Cliente</a>
    </div>
  </nav>
  